.main-section {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.main-section::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 192, 203, 0);
}

.main-section::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba(255, 0, 179, 0.37), rgba(140, 0, 255, 0.267), rgba(0, 81, 255, 0.37));
    border-radius: 20px;
}

.left-panel {
    padding-top: 10px;
    width: 300px;
    gap: 5px;
}

.left-panel-card-main {
    background-color: transparent;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    border: 0px dashed rgba(128, 0, 128, 0.575);
    border-top-style: solid;
    gap: 20px;
}

.right-panel {
    width: 600px;
    padding-top: 10px;
    gap: 15px;
    height: 100%;
    padding-bottom: 300px;
}

.avatar-main {
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0px 10px 60px 0px rgba(164, 0, 214, 0.16), 0px 0px 0px 0px rgba(133, 0, 185, 0.185);
    border: 5px solid transparent;
    border: 12px solid transparent;
}

.avatar-con {
    width: 100%;
    padding: 0px;
    border-radius: 20px;
    background: linear-gradient(45deg, #cf7dff88, #ff008c46);
    background: white;
}

.icon-link {
    height: 35px;
    width: 35px;
    justify-content: center;
    padding: 4px;
    background: linear-gradient(rgb(245, 241, 252), rgb(255, 248, 255));
    box-shadow: 0px 5px 20px 0px rgba(134, 0, 187, 0.164);
    border-radius: 7px;
}

.icon-img {
    height: 100%;
    width: 100%;
}

.personal-info-grid {
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.card-class-1 {
    width: 100%;
    box-shadow: 0px 10px 40px 0px rgba(164, 0, 214, 0.068);
    border-radius: 5px;
    padding: 10px 0px;
    gap: 15px;
    justify-content: space-between;
    border: 0px solid rgba(128, 0, 128, 0.24);
    background: #ac84ff1c;
    background: #f8f4ff69;
    background: #fbf8ffce;
    background: #ffffff;
    border: 0px dashed mediumpurple;
    backdrop-filter: blur(10px);
}

.contact-info {
}

.edu-info {
}

.email-style {
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: none;
}

.right-panel-card {
    width: 100%;
    background: rgba(255, 248, 251, 0.911);
    background: white;
    box-shadow: 0px 20px 40px 0px rgba(180, 0, 75, 0.048);
    border-radius: 15px;
    padding: 20px 0px;
    border: 1px solid rgba(230, 43, 255, 0.349);
    border: 0px solid rgb(181 43 255 / 66%)
}

.expr-card {
    background: linear-gradient(rgb(255, 251, 252), rgb(253, 253, 243), rgb(253, 249, 255));
    background: rgba(255, 255, 255, 0.801);
    background: rgba(255, 255, 255, 0.822);
    border: 0px;
}